<h1><%= @user.username%>'s followers:</h1>

<% if @followers.any? %>
  <ul>
    <% @followers.each do |follower| %>
      <li>
        <%= follower.username %>
        <% if follower != current_user %>
          <% follow = current_user.passive_follows.find_by(follower_id: follower.id) %>
          <% if follow %>
            <%= button_to "Remove follow", follow_path(follow.id), method: :delete, data: { confirm: "Are you sure you want to remove this follower?" } %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No followers yet.</p>
<% end %>
