<h1><%= @user.username %> is following:</h1>

<% if @followings.any? %>
  <ul>
    <% @followings.each do |followed_user| %>
      <li>
        <%= followed_user.username %>
        <% if followed_user != current_user %>
          <% follow = current_user.active_follows.find_by(followed_id: followed_user.id) %>
          <% if follow %>
            <%= button_to "Unfollow", follow_path(follow.id), method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Not following anyone yet.</p>
<% end %>
